.xiangqing{
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -130px;
}
.xiangqing a:hover{
	color: red;
	text-decoration:  underline;
}
.xiangqing img{
	width: 40px;
	height: 40px;
	background:papayawhip;
	border-radius: 50%;
}
.xiangqing li{
	height: 250px;
	text-align: center;
	list-style: none;
	width: 40%;
	float: left;
	background: rgba(255, 255, 255, 0.3);
}
.xiangqing li:nth-child(1){
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	margin-left: 10%;
	border-right: 10px dotted rgba(255, 180, 0, 0.6);
}
.xiangqing li:nth-child(2){
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.xiangqing li:nth-child(2) img{
	width: 100px;
	height: 100px;
	background: transparent;
	border-radius: 50%;
	-webkit-animation: yao 1s linear infinite;
	animation: yao 1s linear infinite;
}
@-webkit-keyframes yao{
	0%{-webkit-transform:  rotate(0deg);transform:  rotate(0deg);}
	33%{-webkit-transform:  rotate(-15deg);transform:rotate(-15deg);}
	66%{-webkit-transform:  rotate(15deg);transform:rotate(15deg);}
	100%{-webkit-transform:  rotate(0deg);transform:rotate(0deg);}
}
@keyframes yao{
	0%{transform-style: preserve-3d;
	   transform: perspective(800px) rotate(0deg);}
	33%{transform-style: preserve-3d;transform:perspective(800px) rotate(-15deg);}
	66%{transform-style: preserve-3d;transform:perspective(800px) rotate(15deg);}
	100%{transform-style: preserve-3d;transform:perspective(800px) rotate(0deg);}
}
.xiangqing h3{
	font-size: 30px;
}
.xiangqing p{
	font-size: 20px;
	color: rgba(0,24,212,0.8);
}
.xiangqing .liji{
	font-size: 26px;
	color: #0035ff;
	padding: 6px;
}
@media all and (max-width:433px) {
	.xiangqing{
		width: 100%;
		position: absolute;
		top: 0px;
		margin-top: 100px;
	}
	.xiangqing li{
		height: 250px;
		text-align: center;
		list-style: none;
		width: 80%;
		float: none;
		margin: 0 auto;
		border-radius: 0px;
		background: rgba(255, 255, 255, 0.3);
	}
	.xiangqing li:nth-child(1){
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 0px;
		margin-left: 10%;
		border-right:none;
	}
	.xiangqing li:nth-child(2){
		border-top-right-radius: 0px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}
}